body {
    font-family: Calibri, sans-serif;
    filter: invert(80%) !important;
    background-color: rgb(20, 20, 20);
}

#container {
    text-align: center
}

table {
    border-collapse: collapse;
    font-size: 2em;
    margin: 0 auto;
}

colgroup,
tbody {
    border: solid medium;
}

td {
    border: solid thin;
    height: 1.4em;
    width: 1.4em;
    text-align: center;
    padding: 0;
}

button {
    margin-top: 15px;
    font-size: 1.5em;
}

.head {
    font-weight: 600;
    font-size: 3rem !important;
    padding-top: 3vh;
    padding-bottom: 5vh;
}

#solve-button {
    margin-top: 25px;
    margin-bottom: 5px;
}